#wp-emmet-editor-tabSize,
#wp-emmet-editor-indentUnit {
  width: 5em;
}

#template .CodeMirror,
#template .CodeMirror div {
  margin-right: 20px;
}

.CodeMirror {
  font-family: Ricty, "VL Gothic", monospace, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.CodeMirror-linenumber {
  padding: 0 10px;
}